/* || General setup */

html, body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 20px;
	background-color: orange;
}

body {width: 80%;
	min-width: 800px;
	margin: 0 auto;
	text-align: center;
}
img {
	width: 400px;
	height: 400px;
	border-radius: 50%;
}

h1 {
	font-size: 4rem;
	text-align: center;
	text-shadow: 2px 2px 10px black;
	color: magenta;
}

img:hover {
	transform: scale(1.2) rotate(1turn);
	transition: .5s;
}

.radial {
	background: repeating-radial-gradient(
		circle,
		black,
		black 15px,
		white 15px,
		white 30px
	);
	color: red;
	font-size: 20px;
}